<p style="color: green"><%= notice %></p>

<%= render @loot_table %>

<div>
  <%= link_to "Edit this loot table", edit_loot_table_path(@loot_table) %> |
  <%= link_to "Add Loot Item", new_loot_table_loot_item_path(@loot_table) %> |
  <%= link_to "Back to loot tables", loot_tables_path %> |

  <%= form_with(url: loot_table_roll_path(@loot_table), id: dom_id(@loot_table, "roll"), local: false) do |form| %>
    <button class="" type="submit" aria-label="Roll">
      Roll
    </button>
  <% end %>

  <%= button_to "Destroy this loot table", @loot_table, method: :delete %>
</div>
